body {
    margin: 0px;
}
#running-widget #rw_wrapper {
    border: 1px solid #999;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
#running-widget .title {
    font-size: 1.5em;
    text-align: center;
    color: #FFF;
    background-color: #33aaff;
    border: 1px solid white;

}
#running-widget .entry {
    border: 1px solid white;
    padding: 5px;
    color: #818181;
}

#running-widget .entry.even {
    background-color: #F5F5F5;
}
#running-widget .entry.odd {
    background-color: #EBEBEB;
}
#running-widget table {
    color: #FFFFFF;
}
#running-widget .entry.latest {
    background-color: #33AAFF;
    padding: 10px;

}
#running-widget .entry.latest .distance .miles{
    font-size: 3em;
    font-weight: 400;
}
#running-widget .entry.latest .distance {
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #DDDDDD;
}
#running-widget .entry.latest img {
    float: right;
    margin-top: -30px;
}
#running-widget .entry.latest .duration {

}
#running-widget .entry.latest .date {

}
